* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.fruits-Container {
  background-color: #ffd569;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

.fruitsParent {
  background-color: white;
  border-radius: 12px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.mango {
  width: 120px;
  height: 120px;
}

.title {
  margin-bottom: 80px;
}

.fruitsimages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 80px;
}

.fruitsbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  padding: 20px;
}

.fruitsbuttons button {
  background-color: #007bff;
  outline: none;
  border-radius: 5px;
  height: 30px;
  border-style: none;
  color: white;
  cursor: pointer;  
}